/* Start Body */
body { color: #020202;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}
/* End Body */

/* Start Debug */
.bg-yellow {
    background-color: #f69314;
}
.coba {
    color: #f69314;
}
/* End Debug */

/* Start Container*/
.container{
    margin: 3px auto;
    overflow: auto;
    width: 90%;
}
/* End Container*/

/* Start Container navigasi*/
.container-navigasi{
    margin: 10px auto;
    overflow: auto;
    width: 100%;
    height: 90px;
}
/* End Container navigasi*/

/* Start Logo */
.center {
    text-align: justify;
}
/* End Logo */

/* Start Menu Primer */
.menu-primer ul {
    background-color: #f69314;
    border-radius: 4px;
    box-shadow: 
        0 3px 5px -1px rgba(0,0,0,.2),
        0 6px 10px 0  rgba(0,0,0,.14),
        0 1px 18px 0  rgba(0,0,0,.12);
}

.menu-primer li {
    border-right: 1px solid #d1d5da;
    display: inline-block;
}

.menu-primer a {
    color: #ffffff;
    font-size: 13px;
    padding: 10px 70px;
    text-transform: uppercase;
    display: inline-block;
}

.menu-primer a:hover {
    background-color: #f7f7f7;
    color: #000000;
    text-decoration: none;
}

.menu-primer .active {
    background-color: #ffffff;
    color: #333333;
    text-decoration: none;
}
/* Start Menu Primer */

/* Start Anchor / Hyperlink */
a:link,
a:active {
    color: #000000;
    text-decoration: none;
}
a:hover,
a:active {
    color: #000000;
    text-decoration: underline;
}
/* End Anchor / Hyperlink */

/* Start Heading */
h1,h2,h3,h4,h5,h6 {
    font-weight: 400;
    letter-spacing: 1px;
}
h1 {
    font-size: 28px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 16px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 12px;
}
/* End Heading */

/* Start Jumbotron */
.jumbotron {
    background-color: #f6f8fa;
    border: 0px solid #cacccf;
    border-radius: 4px;
    padding: 20px 0;
    width: 95%;
}
.jumbotron h1 {
    font-size: 30px;
    padding: 0 20px;
}
.jumbotron h3 {
    font-size: 15px;
    padding: 0 20px;
}
/* End Jumbotron */

/* start main home */
.main-home-one {
    float: left;
    width: 50%;
}
/* end main home */

/* start heading */
.box-heading {
    background-color:;
    border: 0px solid;
}
/* start heading */